<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDvssH7-EtF7QbU9KRpVYhGM1pSoSR6F8</string>
	<key>GCM_SENDER_ID</key>
	<string>160358701554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.handy.handy9073</string>
	<key>PROJECT_ID</key>
	<string>handy-3529b</string>
	<key>STORAGE_BUCKET</key>
	<string>handy-3529b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160358701554:ios:84bbd06e7fa8ea3e5d736b</string>
</dict>
</plist>